
/* Navbar container */
body > header > nav{
    height: 10vh;
    border: solid 1px red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* div containing navBar buttons */
nav > div {
    width: 25%;
    min-width: 200px;
    display: flex;
    justify-content: space-between;
}